.user-page {
    .row {
        .avatar {
            position: relative;
                img {
                    height: 250px;
                    width: 100%;
                }  

                h3 {
                    position: absolute;
                    top: 75%;
                    color: #fff;
                    margin-left: 5%;
                }

                button {
                    position: absolute;
                    background-color: rgba(0, 0, 0,0);
                    border: 0;
                }

                .load-img {
                    top: 200px;
                    right: 10px;
                }
        }
        .edit {
            text-align: center;
            display: none;
            button {
                width: 100%;
            }
        }
        .user-info {
            padding: 0;
            color: #414141;
            p {
                display: flex;
                flex-wrap: wrap;
                span {
                    margin: 1% 1%;
                }
            }
        }

        .adverts {
           .advert {
                position: relative;
                padding: 0;
                .panel {
                    margin-bottom: 0;
                }

                .btn {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 27px;
                    top: 10px;
                    color: #eb1c23;
                    border: 0;
                    padding: 0;
                }
           }
        }
    }
}

@media screen and (min-width: 768px) {
   .user-page {
       .row {
           .avatar {
                padding: 20px;
                background-color: #f4f4f4;
                button {
                    display: none;
                }
            }

            .edit {
                display: block;
            }
            
           .user-info {
                margin-left:2%; 
                padding: 20px;
                background-color: #f4f4f4;
           }
       }
   }
}