@mixin button() {
    background-color: rgba(0,0,0,0);
    border: 0;
    color: red;
    padding: 0;
    @media screen and (min-width: 768px) {
        margin-left:2%;
    }
}

.panel {
    .panel-heading {
        font-weight: 600;
    }

    .panel-body {
        display: flex;
        flex-direction: column;
        label {
            margin: 0;
            padding: 5px 0;
            button {
               @include button();
            }

            button:hover {
               @include button();
            }
            
            button:focus {
               @include button();
            }
        }
    }
}