header {
    .navbar-default {
        background-color: #FFF;
        border: 0;
        padding: 20px 0;
        border-bottom: 1px solid #f4f4f4;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .row img {
            cursor: pointer;
    }

    .row > div:first-child{
        text-align: start;
    }
    
    .row > div:last-child{
        text-align: end;
    }
}