header {
    font: inherit;
    margin-bottom: 20px;
    .navbar-default {
        background-color: #FFF;
        border: 0;
        padding: 10px 0;
        border-bottom: 1px solid #f4f4f4;
        margin: 0;
    }

    .row {
        display: flex;
        align-items: center;

        img {
            cursor: pointer;
        }

        .nav {
            display: flex;
            align-items: center;
            font: inherit;
            .links {
                text-align: center;
                a {
                    color: #414141;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 20px;
                }

                a:hover {
                    color: #eb1c23;
                    text-decoration: none;
                }
            }
        }
        
        .avatar {
            a {
                color: #414141;
                text-decoration: none;
            }
            div {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                h4 {
                    margin: auto 20px;
                }
            }

        }
    }
}