@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab Proj</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@Url.Content("~/Dist/main.bundle.css")">
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        
    </head>
    <body>
        <div id="app"></div>
        <script src="~/Dist/main.bundle.js"></script>
        
</body>
</html>
