.panel {
    .panel-heading {
        padding: 0;
        h1 {
            font-weight: 600;
            padding: 10px;
        }
        cursor: pointer;
    }

    .panel-body {
        b {
            position: absolute;
            bottom: 25px;
            right: 20px;
        }
    }
}